<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'store:product_all' %}">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Library
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url "store:product_all" %}">All</a></li>
                            {% for category in categories %}
                                <li {% if category.slug == category.slug %}class="selected" {% endif %}>
                                    <a class="dropdown-item"
                                       href="{{ category.get_absolute_url }}">{{ category.name|title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>